
@font-face {
  font-family: 'Gilroy-Bold'; /* Name your font family */
  src: url('./assets/fonts/Gilroy-Bold-Rupee.woff2'); /* Locate the .ttf file within your directory*/
}

#sw-btn img{
	border: none;
	outline: none;
	background: none;
	transform: translate(-20px,-10px);
	display: flex !important;
	flex-direction: row !important;
}
#sw-btn img:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: 2s;
}
.nav-clr{
	text-decoration: underline;
	font-weight: 800;
	color: black;
	transform: translateX(-80px);
	display: flex !important;
	flex-direction: row !important;
}

.nav-clr:hover {
	text-decoration-color: orange;
}

.nav-clr a:hover{
	color: orange !important;
}
.nav-clr1 a:hover{
	color: orange !important;
} 
.label{
	position: absolute !important;
	color: orange !important;
	font-size: 18px;
	background-color: white !important;
	transform: translate(-8px , -10px);
}
.arrow{
	display: flex;
	flex-direction: row;
	position: relative;
}
.carousel-inner{
	display: flex !important;
	flex-direction: row !important;
	padding-top: 20px;
	position: relative;
	margin-top: 30px;
	cursor: pointer;
	padding-left: 20px;
}
.carousel-caption{
	display: flex !important;
	flex-direction: row !important;
	margin-top: 20px !important;
	position: relative !important;
	color: black !important;
	font-size: 20px !important;
	cursor: pointer;
	width: 100% !important;
}

.custom-height{
	height: auto;
	width: auto !important;
	overflow: hidden;
}
.line1{
	border-top: 1px solid #e3d6d5;
	width: 1200px;
}
.hotel-img:hover{
	transform: scale(1.03);
	transition: 1s;
	cursor: pointer;
}
.set1{
	height: 200px !important;
	width: 260px !important;
}

.box{
  width:5px;
  height:5px;
  margin-top:20px;
  }
  .txtimg{
  	position: absolute;
  	top:110px;
  	right: 90px;
  	font-weight: bold;
  	color: white;
  	font-size: 25px;
  	display: flex;
  	flex-direction: row;
  }
  .showmore{
  	display: flex;
  	flex-direction: row;
  	transform: translateX(630px);

  }
  .content-panel{
  	width: 1140px;
  	height: auto;
  	transform: translateX(180px);
  	font-size: 16px;
  }
  .last-container{
  	background-color: #e6e9ed;
  	width: 1850px;
  	height: auto;
  	margin-top: 60px;
  	display: flex;
  	flex-direction: row;
  }
  .link{
  	text-decoration: none !important;
  	font-size: 14px !important;
  	color: #7e8e9e !important;
  	margin-top: 8px !important;
  }
  .city{
  	margin-top: 20px !important;
  	border-radius: 10px !important;
  	background-color: #e6e9ed !important;;
  }
 .app{
 	background-color: #e6e9ed !important;
  	width: 1850px !important;
  	height: auto !important;
  	margin:0px !important;
  	padding: 0px !important;
  	display: flex !important;
  	flex-direction: column; !important;
 }
 .gplay{
 	margin-left: 20px;
 	width: 220px;
 	height: 80px;
 	background-color: black !important;
 	color: white !important;
 	border-radius: 10px !important;
 	position: relative !important;
 }
 .gp-img{
 	position: absolute !important;
 	height: auto !important;
 	width: 100px !important;
 	transform: translateX(-60px);
 }
 #showme{
 	display:flex !important;
 	flex-direction: row !important;
 	position: fixed !important;
 	width: 100% !important;
 	height: 80px;
 }
 .head{
 	margin-top:30px;
 	margin-left:100px;
 	font-weight: bold;
 	display: flex;
 	flex-direction: column;
 	font-size: 18px;
 	font-family: Gilroy-Bold;
 }

 .whats-on {
	margin-left: 4px;
	font-weight: 700;
 }

.slider-item {
	display: flex;
 	flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
	#myCarousel{
		width: 100%;
	}
	.item img{
		width: 30%;
		height: auto;
		float: left;
	}
	.arrow{
		margin-right: 200px;
	}
	.col-xs-3 {
		width: 30%;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.responsive button{
		width: 30%;
		display: flex;
		flex-direction: row;
	}
}